.nav {
  display: flex;
  background-color: var(--theme-color2);
  flex-direction: column;
  width: 16%;
  height: 100vh;
}

.menu-item-selected {
  background-color: var(--theme-color1);
  text-decoration: none;
  font-weight: bold;
}

.menu-item {
 font-size: large;
 padding: 8px;
 padding-top: 16px;
 padding-bottom: 16px;
}

.mini-profile {
 height: 20%;
}

.nav-link-margin {
  margin-left: 8px;
}
