<div class="header flex"> 
  <div class='flex logo-div'>
    <%= image_tag('Logo1', :class =>'avatar')%>
    <p class='author color-auto'>MAC</p>
  </div>
  <div>
    <p class='author color-auto'>Mad About Cycles</p>
  </div>
  
</div>